BODY {
  font-family: 'Montserrat', Arial, sans-serif;
  color:#444;
  font-weight:400;
}

/* header for education, experience, skills */
.sectionheader {
  font-size:80px;
  text-transform:uppercase;
  background-color:white;
  color:#D997A1;
  font-weight:bold;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  min-width: 100%;
  text-align: center;
}

.nav-lin {
  text-align: left;
}

.school {
  font-weight:600;
  font-size:35px;
  color:black;
  text-align: left;
}

.educationdescription {
  color:black;
  font-weight:400;
}

#experience-outline {
  background-color: white;
  width: 90%;
  border: 2.5px solid black;
  padding: 10px;
  margin: 0 auto;
}

/* experience section job titles */
.jobtitle {
  font-weight:600;
  font-size:35px;
  color:white;
  background-color:#D997A1;
  border-radius: 50px;
  border: 2px solid black;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* experience section job organizations */
.organization {
  font-weight:400;
  font-size:18px;
  color:black;
  font-style:italic;
  padding-left: 20px;
}

/* experience section job dates */
.date {
  font-weight:400;
  font-size:18px;
  margin-top: 2px;
  margin-bottom: 0;
  color:black;
  padding-left: 20px;
}

/* experience section descriptions */
.description {
  margin-top: 50px;
  margin-bottom: 10px;
  color:black;
  font-weight:400;
}

ul {
  text-align: center;
  color: black;

}

.circle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: black;
  border: 2px solid black;
  text-align: center;
  background: #D997A1;
}

.footer {
  text-align: center;
  color: black;
  background-color: gray;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skills {
  color:black;
  font-weight:400;
  text-align: center;
}
