.hero-container {
  position:relative;
  text-align:center;
  color: #fff;
}

.hero-image {
  width:100%;
}

.graphics  {
  width: 80%;
}

.overlay {
  opacity: .8;
  background-color: #FFFFFF;
  color: #FFFFFF;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 5px solid #f23030;
}

.hero-hed {
  font-family: 'Oswald', sans-serif;
  font-size: 6em;
  color: #000000;
  margin: 0 auto;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.hero-sub {
  font-family: Georgia, serif;
  font-size: .25em;
  text-transform: none !important;
  font-weight: normal !important;
  letter-spacing: normal !important;
}

.container {
  text-align: center;
  width:100%;
}

#headline {
  font-size: 4em;
  font-weight: 500;
  text-align: left;
  font-family: 'Oswald', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

#chapter {
  font-size: 2em;
  font-weight: 600px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
  color: #f23030;
  text-decoration: underline;
  letter-spacing: 5px;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1.25em;
  text-align: left;
  padding-top: 5px;
}

#photo {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding-top: 15px;
}

.caption {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
  color: gray;
}

.footer {
  background: #000000;
  width: 100%;
}

.footer-text {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-size: .8em;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
}

#column {
  text-align: center;
}

/* Top Nav / Top hat */

.nav-top {
  color:#fff;
  margin: 0 auto;
  text-transform:uppercase;
  font-weight:700;
}

.red {
  color:#f23030;
}

/* pull quote */

.quote {
  font-family: Georgia, serif;
  color:#f23030;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  padding-top: 2px;
}

.quote-attribution {
  font-size: .5em;
  font-family: Georgia, serif;
  font-weight: 100;
  text-align: left;
  color: #000;
}
/* end pull quote */

.credits {
  font-style: italic;
}

#mySidenav a {
  position: absolute;
  left: -580px;
  transition: 0.3s;
  padding: 15px;
  width: 600px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border-radius: 0 5px 5px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 200px;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 600px;
  background-color: red;
}

.side {
  width: 80%;
  border: 5px solid black;
  margin: 0 auto;
  padding: 10px;
}

.link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

span:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

span:visited {
  color: blue !important;
  background-color: transparent;
  text-decoration: none !important;
}

span:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


/* Media queries */

@media (max-width:850px) {

  .hero-hed {
    font-size: 1.5em;
  }

}
