.hero-container {
  position:relative;
  text-align:center;
  color: #fff;
}

.hero-image {
  width:100%;
}

.graphics  {
  width: 80%;
}

.overlay {
  opacity: .8;
  background-color: white;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 5px solid #f23030;
}

.hero-hed {
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  color: black;
  margin: 0 auto;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero-sub {
  font-family: Georgia, serif;
  font-size: .25em;
  text-transform: none !important;
  font-weight: normal !important;
  letter-spacing: normal !important;
}

.container {
  text-align: center;
  width:100%;
}

#headline {
  font-size: 4em;
  font-weight: 500;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

#chapter {
  font-size: 2em;
  font-weight: 600px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
  color: #f23030;
  text-decoration: underline;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1.25em;
  text-align: left;
  padding-top: 5px;
}

#photo {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding-top: 15px;
}

.caption {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
  color: gray;
}

.footer {
  background: black;
  min-height: 100px;
  margin-top: 100px;
  width: 100%;
}

.footer-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  padding-top: 10px;
  text-align: center;
}

#column {
  text-align: center;
}

/* Top Nav / Top hat */

.nav-top {
  color:#fff;
  margin: 0 auto;
  text-transform:uppercase;
  font-weight:700;
}

.red {
  color:#f23030;
}

/* pull quote */

.quote {
  font-family: Georgia, serif;
  color:#f23030;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  padding-top: 2px;
}

.quote-attribution {
  font-size: .5em;
  font-family: Georgia, serif;
  font-weight: 100;
  text-align: left;
  color: #000;
}
/* end pull quote */

.credits {
  font-style: italic;
}

.sidebar {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1.25em;
  text-align: center;
  padding-top: 5px;
  border: 2px solid red;
  width: 80%;
  padding: 5px;
  align-content: center;
}

.title {
  text-align: center;
}

/* normal link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: navy;
}

/* hover */
a:hover {
  color: red;
}


/* Media queries */

@media (max-width:800px) {

  .hero-hed {
    font-size: 1.5em;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
