/* styles for my resume */

/* all header, paragraph, list and list items*/
BODY {
  font-family: 'Open Sans', Arial, sans-serif;
  color:#444;
  font-weight:400;
}

/* banner name at top */
#name {
  color:#33485e;
  text-transform:uppercase;
  text-align:center;
  font-size:3em;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* title */
strong {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
}

/* individual section titles experienc, education, skills */
.sectionheader {
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#ffffff;
  font-weight:400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

/* education section job titles */
.jobtitle {
  font-weight:600;
  font-size:1.5em;
}

/* education section job organizations */
.organization {
  font-weight:400;
  font-size:1.25em;
}

/* education section job dates */
.date {
  font-weight:400;
  font-style:italic;
  font-size:1em;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* lists under contact info, skills, education sections */
ul {
  font-size:1em;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.menu {
  margin: 0;
  padding: 0;
  text-align:center;
}

#menu {
  display:inline;
  list-style-type: none;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#do {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#title {
  font-weight: 600;
  text-align:center;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#container {
  width: 100%;
  max-width:1200px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 50px;
  padding-right: 0;
  padding-left: 0;
}
