BODY {
  font-family: 'Montserrat', Arial, sans-serif;
  color:#444;
  font-weight:400;
  margin: 0;
}

.jumbotron {
  background-image: url("header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 10px solid black;
  height: 375px;
  background-position: 50% -137px;
}

.display-4 {
  color: white;
  font-size: 120px;
  text-align: left;
  margin-left: 0 auto;
  padding-left: 0 auto;
  font-weight: bold;
}

.social {
  padding-left: 0;
  margin: 2em 0;
  list-style: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.sectionheader {
  font-size:80px;
  text-transform:uppercase;
  background-color:white;
  color:#D997A1;
  font-weight:bold;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  min-width: 100%;
  text-align: center;
}

#experience-outline {
  background-color: white;
  width: 90%;
  border: 2.5px solid black;
  padding: 10px;
  margin: 0 auto;
}

/* experience section job titles */
.jobtitle {
  font-weight:600;
  font-size:35px;
  color:white;
  background-color:#D997A1;
  border-radius: 50px;
  border: 2px solid black;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* experience section job organizations */
.organization {
  font-weight:400;
  font-size:18px;
  color:black;
  font-style:italic;
  padding-left: 20px;
}

/* experience section job dates */
.date {
  font-weight:400;
  font-size:18px;
  margin-top: 2px;
  margin-bottom: 0;
  color:black;
  padding-left: 20px;
}

/* experience section descriptions */
.description {
  margin-top: 50px;
  margin-bottom: 10px;
  color:black;
  font-weight:400;
}

.col-md-4 .col-md-6 {
  text-align: center;

}

.rounded-circle {
  border-radius: 50% !important;
}

img {
  vertical-align: middle;
  border-style: none;
}
